
@model ListaDeCultosEAuxiliares
<h3 class="importante">Cultos</h3>
<table class="table table-striped table-bordered text-center">
	<thead class="table-dark">
		<tr>
			<th>Id</th>
			<th>Data</th>
			<th>Pastor</th>
			<th>Gravação  do Culto</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
	@foreach(var culto in Model.cultos)
	{
		<tr>
			<td>@culto.ID</td>
			<td>@culto.Data</td>
			<td>@(Model.auxiliares.Any(a => a.ID == culto.PastorID)? Model.auxiliares.FirstOrDefault(a => a.ID == culto.PastorID)?.Nome : "Erro")</td>
			<td>@("https://"+culto.Link)</td>
			<td>
                <a type="button" class="btn btn-sm btn-danger" asp-area="" asp-controller="Cultos" asp-action="Deletar" asp-route-id="@culto.ID">Excluir</a>
			</td>
			
			@*<td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Jogos" asp-action="EditarJogo" asp-route-id="@j.ID">Editar Jogo</a></td>*@
		</tr>
	}
	<tr>
			<td><a type="button" class="btn btn-success" asp-area="" asp-controller="Cultos" asp-action="Criacao">Registrar Culto</a></td>
	</tr>
    </tbody>
</table>
