@using Reino_Espírito_Santo.Models.Auxiliares
@model AuxiliaresModel

<div class="container mt-4">
    <h3 class="importante" >Auxiliares</h3>
    <table class="table table-striped table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Função</th>
            <th>Telefone</th>
                <th></th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auxiliar in Model.Auxiliares)
        {
            <tr>
                <td>@auxiliar.Id</td>
                <td>@auxiliar.Nome</td>
                <td>@auxiliar.Funcao</td>
                <td>@auxiliar.Telefone</td>
                <td>
                    <a type="button" class="btn btn-warning btn-sm" asp-area="" asp-controller="Auxiliares" asp-action="Record" asp-route-id="@auxiliar.Id">Editar</a>
                      
                </td>
                <td>
                <a type="button" class="btn btn-sm btn-danger" asp-area="" asp-controller="Auxiliares" asp-action="Delete" asp-route-id="@auxiliar.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="@Url.Action("Add", "Auxiliares")" class="btn btn-success">Adicionar Novo Auxiliar</a>

</div>
</div>
