@model Reino_Espírito_Santo.Models.Ministerio.MinisterioModel

<div class="container mt-4">
    <h3 class="text-center">Editar Ministério</h3>
    <form asp-action="Salvar" asp-controller="Ministerios" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" required />
        </div>
        <div class="form-group">
            <label for="Descricao">Descrição</label>
            <input type="text" id="Descricao" name="Descricao" class="form-control" value="@Model.Descricao" required />
        </div>
        <div class="form-group">
            <label for="Lider">Líder</label>
            <input type="text" id="Lider" name="Lider" class="form-control" value="@Model.auxiliarId" required />
        </div>
        <div class="form-group">
            <label for="DataInicio">Data de Início</label>
            <input type="date" id="DataInicio" name="DataInicio" class="form-control" value="@Model.DataInicio.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="@Url.Action("Index", "Ministerios")" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

